body{
    background-image: url(/image/bu.jpg);
    background-size: cover;
}
.pro{
    text-indent: 20px;
}
#header{
    background-color: #ffa800;
    color: #fff;
    width:100%;
    position: fixed;
    /* top: 17 ; */
    /* left: 0; */
    /* margin: 70; */
    /* text-align:left; */
    /* letter-spacing: 0px; */
    z-index: 70;
}
#header.sticky{
    padding: 5px 100px;
    background: #000000	;
}

#pue{
        padding:70px 0px 0px 50px;
}
#judul{
    z-index: -1;
}
.digital{
    padding:70px 0px 100px 60px;
}
#pembuka{
    text-align: center;
    padding:20px 20px 90px 0px;
    margin-left: 34px;
    margin-right: 34px;
    margin-top: -80px;
    background: rgba(0, 0, 0, 0.5);
}
#home{
    background:#f00;
}
#wisata1{
    margin-bottom: 20px;
    margin-right: 60px;
}
/* untuk lokp */
#headerlokpp{
    background-image: url(/image/bglokpp.jpg);
    padding: 10px 10px 10px 10px    ;
}
.kepler{
    background-image: url(/image/bglok.png);
    background-size: cover;
    
}
nav.navbar{
    /* background-color: slategrey; */
    background-image: url(/image/po.jpg);
}
#textl{
    margin-top: 70px;
    margin-left: 18px;
}
#box1{
    width:100px;
    height:220px;
    background:rgba(0, 0, 0, 0.5);
    margin-top: 100px;
}
