
  <!-- judul -->
  <div id="pue"class="container">
    <div class="row">
      <div class="col">
      
      <h2>wisata</h2>
         <h4>wajib dikunjungi yg bakalan bikin kamu ketagihan</h4>
      </div>
    </div>
  </div>
   <!-- =============================================caraousel =================================== -->
   <div class="container">
     <div class="row">
       <div class="col-4">
         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
           <ol class="carousel-indicators">
             <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-slide-imgid="0">
        <img src="\image\b1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-slide-imgid="1">
        <img src="\image\b2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-slide-imgid="2">
        <img src="\image\b3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    
        </div>
      </div>  
  
  
  <div class="col-4 pro">
        <p> menjawab pertanyaan, mengenai apa saja objek wisata Bali yang bagus, menarik dan wajib dikunjungi! Semuanya tergantung dari selera anda masing-masing dan jenis kriteria liburan (bulan madu, liburan sama teman atau liburan keluarga). Namun untuk mempermudah anda menentukan objek wisata yang akan di kunjungi saat liburan di Bali, maka saya akan membagi </div> tempat wisata di Bali berdasarkan lima prioritas dan kriteria.
          Dengan berdasarkan prioritas dan kriteria saat wisatawan memilih tempat liburan di pulau Bali, setidaknya akan membantu anda memutuskan, tempat wisata di Bali yang mana yang cocok untuk anda kunjungi.</p>
          <p >Daftar Tempat Wisata Di Bali Yang Bagus
            Berdasarkan pengalaman kami dalam penyedian jasa paket wisata Bali, jasa rental mobil murah dan
            aktivitas liburan di Bali. Maka kami mengetahui, bahwa masing-masing wisatawan Indonesia, saat liburan di pulau Bali, memiliki kesukaan dan kriteria objek wisata yang wajib dikunjungi yang berbeda-beda. Jadi sangatlah susah untuk membuat daftar tempat wisata Bali yang bagus serta menarik, tanpa mengklasifikasikan prioritas dan kriteria masing-masing wisatawan.</p>
              
            <p>Prioritas & Kriteria Wisatawan
              Prioritas liburan ke objek wisata terkenal di Bali.
              Mengutamakan liburan ke objek wisata pantai.
              Ada yang suka mencari tempat wisata di Bali selain pantai.
              Jika liburan bersama anak, maka akan memprioritaskan liburan ke objek wisata anak yang ada di pulau Bali.
              Ada yang memprioritaskan aktivitas liburan favorit. Seperti mengikuti aktivitas wisata petualangan rafting, mengikuti aktivitas wisata bahari dan masih banyak lagi yang lainnya.
              Lalu yang mana dari lima prioritas dan kriteria wisatawan di atas yang cocok untuk anda? Apakah anda sudah punya pilihan? Jika sudah, silakan dilihat jawabannya dibawah ini!</p>
              
              <p>Daftar 10 Objek Wisata Terkenal Di Bali
                Apabila anda belum pernah liburan ke Bali sebelumnnya, memilih untuk mengunjungi tempat wisata yang terkenal di Bali adalah jawabannya. Oleh karena itu, jika anda memiliki prioritas liburan ke Bali untuk mengunjungi tempat wisata terkenal di Bali, cari tahu jawabannya di bawah ini. Daftar tempat wisata terkenal di Bali favorit wisatawan Indonesia, saya rangkum dengan jumlah 10 objek wisata.</p>
     </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div id="carouselExampleControls" class="carousel slide d-flexmx-auto" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="image\dan2.jpg" class="d-block w-100" alt="..." height="196">
            </div>
            <div class="carousel-item">
              <img src="image\dana1.jpg" class="d-block w-100" alt="..." height="196">
            </div>
            <div class="carousel-item">
              <img src="image\dana.jpg" class="d-block w-100" alt="..." height="197">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>   
      </div>
      <div class="col-4">
         <p>
         Danau Toba merupakan tempat wisata yang sering dikunjungi di Sumatera Utara karena keindahan alamnya. Belakangan, danau ini menjadi sorotan publik menyusul tenggelamnya KM Sinar Bangun, Senin sore (18/6/2018). Sebanyak 184 penumpangya dinyatakan hilang, tiga meninggal dan 19 orang selamat dalam peristiwa itu.
         </p></div>
         <p>Keluarga korban dan publik Indonesia tentu sangat terpukul. Apalagi bangkai kapal dan korbannya tidak bisa dievakuasi karena alasan kedalaman danau terbesar di Asia Tenggara itu.</p>
         <p>Bagaimana asal usul dan sejarah Danau Toba ini? Cerita Pagi kali ini akan mengulasnya dari beberapa sumber dan penelitian para ahli. Danau ini terletak di tengah-tengah provinsi Sumatera Utara dan dikelilingi tujuh kabupaten yaitu, Kabupaten Samosir, Simalungun, Humbang Hasundutan, Dairi, Karo dan Toba Samosir, dan Tapanuli Utara.</p>
        <p>Danau tekto-vulkanik ini merupakan danau terbesar di Asia Tenggara karena memiliki panjang 87 kilometer, lebar 27 kilometer, lokasi ketinggian 904 meter di atas permukaan laut. Dan kedalamannya mencapai 505 meter.
  Secara geografis, Danau Toba berada pada koordinat 980,300 s/d 990,010 Bujur Timur dan 20,240 s/d 20,480 Lintang Utara. Danau ini dikategorikan sebagai daerah beriklim tropis basah dengan tipe iklim C sampai E, suhunya berkisar antara 170-290 C dan kelembapan udara rata-rata 85,04 persen.
  Dari Danau Toba ini, mengalir sebuah sungai besar yaitu sungai Asahan. Sungai ini mengalir ke dataran rendah sampai ke daerah perairan selat Malaka di timur pulau Sumatera. Derasnya aliran sungai ini pada akhirnya dimanfaatkan pemerintah sebagai Pembangkit Listrik Tenaga Air (PLTA).
  Awal Terbentuknya Danau Toba Menurut sejarah, Danau Toba sebelumnya adalah gunung berapi yang disebut gunung Toba. Informasi yang dikutip dari sejarahlengkap.com menyebutkan, gunung ini memiliki kantong magma sangat besar yang jika meletus akan menghasilkan daya ledak yang sangat tinggi.</p>
          <p>Kantong magma Gunung Toba disuplai oleh banyaknya lelehan sediman lempeng benua yang saling bergesek secara hiperaktif, yaitu lempeng Indo-Australia yang mengandung banyak sedimen, dan lempeng Eurasia yang menjadi tempat duduknya Pulau Sumatera. Letak kedua lempeng itu berada di kedalaman 150 km di bawah bumi.
  
  Gesekan lempeng Indo-Australia dan Eurasia menghasilkan panas sehingga melelehkan bebatuan. lelehan tersebut kemudian naik ke atas sebagai magma. Oleh karena seringnya kedua lempeng ini bergesekan, magma yang dihasilkan cukup banyak sehingga dapat menciptakan ledakan yang begitu dahsyat.
  
  Dari beberapa literatur, tercatat bahwa Gunung Toba pernah meletus tiga kali. Pertama, letusan pertama gunung Toba terjadi sekitar 800 ribu tahun yang lalu dan membentuk kaldera di selatan Danau Toba, meliputi daerah Porsea dan Prapat.</p>
       
        
     </div>
    </div>
     
  <!-- jqury-3.5.1.slim.min.js
  =gak ditulis gak papa karena gak punya efek -->